.footer {
    padding: 4rem;
    text-align: center;

    &__content-social a {
        font-size: 1rem;
        margin: 3rem;
        font-weight: bold;
        color: var(--clr-secundario);
        transition: .3s;
    }

    &__content-social a:hover {
        color: var(--clr-span)
    }

    &__page {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    
}

