<div class="profile">
    <div class="profile__content">
        <article>
            <h1>Credenciales</h1>
                <p>Nombre: {{data.first_name}}</p>
                <p>Correo: {{data.email}}</p>
                <p>Rol: {{data.role}}</p>
            <a href="/logout">Logout</a> <span>|</span>
            <a href="/products">Ir a Productos</a>
        </article>
    </div>
</div>