<div class="login">
    <div class="login__content">
        <article>
            <form action="/auth/recovery-password" method="post">
                <h1>Recuperar Contraseña</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="login__content-input">
                    <input type="email" name="email" placeholder="Correo" required>
                    <input type="password" name="newPassword" placeholder="Contraseña" required>
                </div>
                <div class="login__content-input">
                    <button type="submit">Actualizar</button>
                </div>
            </form>
        </article>
    </div>
</div>