<div class="login">
    <div class="login__content">
        <article>
            <form action="/auth/register" method="post">
                    <h1>Register</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="login__content-input">
                    <input type="text" name="first_name" placeholder="Nombre" required>
                    <input type="text" name="last_name" placeholder="Apellido" required>
                    <input type="number" name="age" placeholder="Edad" required>
                    <input type="email" name="email" placeholder="Correo" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                    <div class="login__content-input">
                        <button type="submit">Registrarse</button>
                        <p>Clickee en el siguiente enlace si ya tiene una cuenta.</p>
                        <a href="/" >Login</a>
                    </div>
            </form>
        </article>
    </div>
</div>