<div class="login">
    <div class="login__content">
        <article>
            <form action="/auth/restore-password" method="post">
                <h1>Reestablecer Contraseña</h1>
                <p>Ingrese el correo con el que se registro.</p>
                <div class="login__content-input">
                    <input type="email" name="email" placeholder="Correo" required>
                </div>
                <div class="login__content-input">
                    <button type="submit">Envíar</button>
                </div>
            </form>
        </article>
    </div>
</div>